@font-face {
    font-family: retro;
    src: url(PressStart2P-vaV7.ttf);
}

body {
    margin: 0;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    cursor: none;
}

canvas {
    z-index: 10;
    cursor: crosshair;
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
    canvas {
        width: 100%;
        height: 700px;
    }
}
